<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
            formControlName="tema"
            placeholder="Insira o Tema"
          >
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            <span>Tema é Obrigatório</span>
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            <span>Tema deve ter no mínimo 4 caracteres</span>
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            <span>Tema deve ter no máximo 50 caracteres</span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.local.errors && f.local.touched}"
            formControlName="local"
            placeholder="Informe o Local"
          >
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            <span>Local é Obrigatório</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="datetime"
            class="form-control"
            [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}"
            formControlName="dataEvento"
          >
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            <span>Data do evento é Obrigatório</span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
            type="number"
            class="form-control"
            [ngClass]="{'is-invalid': f.qtdPessoa.errors && f.qtdPessoa.touched}"
            formControlName="qtdPessoa"
            placeholder=""
          >
          <div *ngIf="f.qtdPessoa.errors?.required" class="invalid-feedback">
            <span>Quantidade é Obrigatório</span>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          >
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            <span>Telefone é Obrigatório</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>e-mail</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
            formControlName="email"
            placeholder="e-mail"
          >
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            <span>e-mail é Obrigatório</span>
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            <span>e-mail inválido</span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched}"
            formControlName="imagemURL"
            placeholder="image">
          <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
            <span>Imagem é Obrigatório</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="cancelar()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="form.invalid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
 </div>
